{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false,
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@images": "./images",
          "@utils": "./utils",
          "@icons": "./icons",
          "@states": "./states",
          "@reducers": "./reducers"
        }
      }
    ]
  ]
}
